pod_namespace: ci
prowjob_namespace: ci
tide:
  sync_period: 2m
  queries:  
  - orgs:
    - ginbits
    labels:
    - lgtm
    - approved
    missingLabels:
    - do-not-merge
    - do-not-merge/hold
    - do-not-merge/invalid-owners-file
    - do-not-merge/work-in-progress
plank:
  default_decoration_config_entries:
  - config:
      censor_secrets: true
      gcs_configuration:
        bucket: s3://ginbits-ci
        path_strategy: explicit
      s3_credentials_secret: credentials-aws-publisher
      grace_period: 1h0m0s
      timeout: 4h0m0s
      utility_images:
        clonerefs: gcr.io/k8s-prow/clonerefs:v20210921-6ca431fa31
        entrypoint: gcr.io/k8s-prow/entrypoint:v20210921-6ca431fa31
        initupload: gcr.io/k8s-prow/initupload:v20210921-6ca431fa31
        sidecar: gcr.io/k8s-prow/sidecar:v20210921-6ca431fa31
  job_url_prefix_config:
    '*': https://prow.ginbits.com/view/
  job_url_template: https://prow.ginbits.com/view/gs/ginbits-ci/
    {{if eq .Spec.Type "presubmit"}}pr-logs/pull{{else if eq .Spec.Type "batch"}}pr-logs/pull{{else}}logs{{end}}{{if
    ne .Spec.Refs.Repo "origin"}}/{{.Spec.Refs.Org}}_{{.Spec.Refs.Repo}}{{end}}{{if
    eq .Spec.Type "presubmit"}}/{{with index .Spec.Refs.Pulls 0}}{{.Number}}{{end}}{{else
    if eq .Spec.Type "batch"}}/batch{{end}}/{{.Spec.Job}}/{{.Status.BuildID}}/
deck:
  branding:
    favicon: /static/extensions/favicon.ico
    header_color: darkcyan
    logo: /static/extensions/logo.png
  spyglass:
    lenses:
    lenses:
    - lens:
        name: metadata
      required_files:
      - ^(?:started|finished)\.json$
      optional_files:
      - ^(?:podinfo|prowjob)\.json$
    - lens:
        name: buildlog
        config:
          highlight_regexes:
          - timed out
          - "ERROR:"
          - (FAIL|Failure \[)\b
          - panic\b
          - ^E\d{4} \d\d:\d\d:\d\d\.\d\d\d]
          # This highlights the start of bazel tests/runs to skip go importing noise.
          - "^INFO: Analyzed \\d+ targets"
      required_files:
        - ^.*build-log\.txt$
    - lens:
        name: junit
      required_files:
        - ^artifacts(/.*/|/)junit.*\.xml$ # https://regex101.com/r/vCSegS/1
    - lens:
        name: coverage
      required_files:
        - ^artifacts/filtered\.cov$
      optional_files:
        - ^artifacts/filtered\.html$
    - lens:
        name: podinfo
      required_files:
        - ^podinfo\.json$
    - lens:
        name: links
      required_files:
        - artifacts/.*\.link\.txt
